/* Button GLobal Style */

.btn {
  position: relative;
  padding: 1rem 3rem;
  font-size: 2.5rem;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.5s;
}

/* btn-primary */
.btn-primary {
  color: #000;
  border: 3px solid #000;
}
.btn-primary:hover {
  background: #000;
  color: #fff;
}
.btn-primary:focus {
  background: #131c27;
  outline-style: solid;
}
/* btn-hover1 */

.btn-hover1 {
  color: #e74c3c;
  overflow: hidden;
  border: 2px solid #e74c3c;
}
.btn-hover1:hover {
  color: aliceblue;
}
.btn-hover1:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0%;
  background-color: #e74c3c;
  height: 100%;
  width: 100%;
  transform: rotate(-90deg);
  transform-origin: left bottom;
  z-index: -1;

  transition: all 1s;
}
.btn-hover1:hover:before {
  transform: rotate(0);
}

/* btn-hover2 */
.btn-hover2 {
  color: #906;
  border: 2px solid #906;
}
.btn-hover2:hover {
  color: aliceblue;
}
.btn-hover2::before {
  content: '';

  position: absolute;
  left: 0;
  top: 0;
  background-color: #906;
  height: 100%;
  width: 100%;
  transform-origin: left center;
  transform: translate(-100%, 0);
  z-index: -1;
  transition: all 1s;
}
.btn-hover2:hover::before {
  transform: translate(0, 0);
}
/* btn-hover3 */

.btn-hover3 {
  color: rgb(228, 154, 18);
  border: 2px solid rgb(228, 154, 18);
}
.btn-hover3:hover {
  color: aliceblue;
}
.btn-hover3:before {
  content: '';
  border-style: none;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #000;
  min-height: 100%;
  min-width: 100%;
  transform: rotateX(90deg);
  transition: all 1s;
  z-index: -1;
}

.btn-hover3:hover:before {
  transform: rotateX(0deg);
}

/* btn-hover3 */

.btn-hover4 {
  color: rgb(5, 158, 18);
  border: 2px solid rgb(5, 158, 18);
  letter-spacing: -0.2rem;
}
.btn-hover4:hover {
  font-weight: 600;
  letter-spacing: 0.5rem;
  border: 4px solid rgb(5, 158, 18);
}

/* btn-hover5 */

.btn-hover5 {
  color: rgb(228, 18, 46);
  border: 2px solid rgb(228, 18, 46);
}
.btn-hover5:hover {
  color: aliceblue;
}
.btn-hover5:before {
  content: 'Yeah!';
  border-style: none;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(228, 18, 46);
  height: 100%;
  width: 100%;
  transform-origin: top center;
  transform: translateY(-100%);
  transition: all 1s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-hover5:hover:before {
  transform: translateY(0%);
}
/* btn-hover6 */

.btn-hover6 {
  color: rgb(74, 18, 228);
  border: 2px solid rgb(74, 18, 228);
}
.btn-hover6:hover {
  color: aliceblue;
  background-color: rgb(74, 18, 228);
}
.btn-hover6:before {
  content: '';
  border-style: none;
  position: absolute;
  left: 0;
  top: 0;
  background-color: aliceblue;
  height: 30%;
  width: 100%;
  transform: translateX(-100%) rotate(45deg);
  transition: all 1s;
}

.btn-hover6:hover:before {
  transform: translateX(100%) rotate(45deg);
}
/* btn-hover7 */

.btn-hover7 {
  border: 2px solid #000;
  color: transparent;
}
.btn-hover7:hover {
  background-color: #000;
}
.btn-hover7:before {
  content: 'Hover Me';
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(219, 233, 30);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  transition: all 0.5s;
}
.btn-hover7:hover::before {
  transform: translate(100%, -100%);
}

.btn-hover7:after {
  content: 'You followed Me';
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(219, 233, 30);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  transform: translate(-100%, 100%);
  transition: all 0.5s;
}

.btn-hover7:hover::after {
  transform: translate(0%, 0%);
}

/* btn-hover8 */

.btn-hover8 {
  color: rgb(98, 18, 228);
  border: 2px solid rgb(98, 18, 228);
}
.btn-hover8:hover {
  color: aliceblue;
}
.btn-hover8:before {
  content: 'Hover Me';
  position: absolute;
  left: 0;
  top: 0;
  background-color: #000;
  min-height: 100%;
  min-width: 100%;
  transform: scale(5);
  opacity: 0;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-hover8:hover:before {
  transform: scale(1);
  opacity: 1;
}
/* btn-hover9 */

.btn-hover9 {
  color: rgb(5, 58, 58);
  border: 2px solid rgb(5, 58, 58);
}
.btn-hover9:hover {
  color: aliceblue;
}
.btn-hover9:before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(5, 58, 58);
  height: 0%;
  min-width: 100%;
  transition: all 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 50% 50%;
  z-index: -1;
}

.btn-hover9:hover:before {
  height: 190%;
}
/* btn-hover10 */
.btn-hover10 {
  border: 2px solid #000;
  background-color: rgb(219, 233, 30);
  color: #000;
  overflow: visible;
}
.btn-hover10:hover {
  background-color: #000;
}
.btn-hover10:before {
  content: 'Green Me';
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(71, 233, 30);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.5s;
}
.btn-hover10:hover::before {
  transform: rotateX(0);
}
.btn-hover10:after {
  content: 'Red Me';
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(233, 30, 64);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  transform: rotateX(270deg);
  transform-origin: bottom;
  transition: all 0.5s;
  transition-delay: 0.5s;
}

.btn-hover10:hover::after {
  transform: rotateX(0);
}

/* btn-hover11*/
.btn-hover11 {
  border: 2px solid #000;
  background-color: rgb(219, 233, 30);
  color: transparent;
  overflow: visible;
}
.btn-hover11:hover {
  background-color: #000;
}
.btn-hover11:before {
  content: 'Green Me';
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(71, 233, 30);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  transition: all 0.5s;
}
.btn-hover11:hover::before {
  left: 100%;
  transform: rotateY(360deg) scale(0);
  opacity: 0;
}
.btn-hover11:after {
  content: 'Red Me';
  position: absolute;
  left: -100%;
  top: 0;
  background-color: rgb(233, 30, 64);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  transform: rotateY(0) scale(0);
  opacity: 0;
  transform-origin: left center;
  transition: all 0.5s;
}
.btn-hover11:hover::after {
  transform: rotateY(360deg) scale(1);
  opacity: 1;
  left: 0%;
}

/* Menu */
.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 25vh;
}
.menu2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  text-align: center;
}
.menu2 li {
  padding: 0 1rem;
}

/* menu1 */
.btn-menu {
  color: #000;
  border: 2px solid #000;
}
.btn-menu:hover {
  color: aliceblue;
}
.btn-menu span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: #000;
  left: 0;
  top: 0;
  transform-origin: top;
  transform: scaleY(0);
  transition: all 0.5s;
  z-index: -1;
}
.btn-menu:hover span {
  transform: scaleY(1);
}
.btn-menu span:nth-child(2) {
  left: 25%;
  transition-delay: 0.15s;
}
.btn-menu span:nth-child(3) {
  left: 50%;
  transition-delay: 0.3s;
}
.btn-menu span:nth-child(4) {
  left: 75%;

  transition-delay: 0.45s;
}

/* Menu2 */
.btn-menu2 {
  color: #000;
  border: 2px solid #000;
}
.btn-menu2:hover {
  color: aliceblue;
}
.btn-menu2 span {
  position: absolute;
  width: 100%;
  height: 25%;
  background-color: #000;
  left: 0;
  top: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: all 0.5s;
  z-index: -1;
}
.btn-menu2:hover span {
  transform: scaleX(1);
}
.btn-menu2 span:nth-child(2) {
  top: 25%;
  transition-delay: 0.15s;
}
.btn-menu2 span:nth-child(3) {
  top: 50%;
  transition-delay: 0.3s;
}
.btn-menu2 span:nth-child(4) {
  top: 75%;

  transition-delay: 0.45s;
}
/* Menu3 */
.btn-menu3 {
  color: #000;
}
.btn-menu3:hover {
}
.btn-menu3 span:nth-child(1) {
  position: absolute;
  width: 100%;
  height: 5%;
  background-color: #000;
  left: 0;
  top: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: all 0.5s;
  z-index: -1;
}
.btn-menu3 span:nth-child(2) {
  position: absolute;
  width: 100%;
  height: 5%;
  background-color: #000;
  right: 0;
  bottom: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: all 0.5s;
  z-index: -1;
}
.btn-menu3:hover span {
  transform: scaleX(1);
}
/* Menu4 */
.btn-menu4 {
  color: #000;
  overflow: hidden;
}
.btn-menu4:before {
  content: '';
  position: absolute;
  width: 2rem;
  height: 2rem;
  border: 3px solid rgb(236, 15, 82);
  border-width: 0 0 5px 5px;
  left: 2rem;
  bottom: 2rem;
  transform-origin: bottom left;
  transition: all 0.5s;
  opacity: 0;
  z-index: -1;
}
.btn-menu4:after {
  content: '';
  position: absolute;
  width: 2rem;
  height: 2rem;
  border: 3px solid rgb(236, 15, 82);
  border-width: 5px 5px 0 0;
  right: 2rem;
  top: 2rem;
  transform-origin: top right;
  transition: all 0.5s;
  z-index: -1;
  opacity: 0;
}

.btn-menu4:hover {
  background: rgb(236, 15, 82);
  color: aliceblue;
}
.btn-menu4:hover::after {
  opacity: 1;
  right: -1rem;
  top: -1rem;
}
.btn-menu4:hover:before {
  opacity: 1;
  left: -1rem;
  bottom: -1rem;
}

/* Social Media Icons */
.icon {
  width: 9rem;
  height: 9rem;
  background: #f1f1f1;
  margin: 1rem;
  border-radius: 30%;
  color: #10ac84;
  box-shadow: 0 5px 15px -5px #00000070;
  position: relative;
  overflow: hidden;
}
.icon i {
  line-height: 9rem;
  font-size: 3rem;
  transition: 0.2s;
}
.icon:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}
.icon::before {
  content: '';
  position: absolute;
  width: 120%;
  height: 120%;
  background: #10ac84;
  left: -110%;
  top: 90%;
  transform: rotate(45deg);
}
.icon:hover::before {
  animation: animation 0.7s 1 forwards;
}
@keyframes animation {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 15%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}
/* Image hover effects  */

.image-container {
  width: 50%;
  height: 100%;
  object-fit: cover;
  position: relative;
  overflow: hidden;
}

.image-container .image-soldier {
  width: 100%;
  transition: all 1s;
}

.image-container:hover .image-soldier {
  transform: scale(1.5) rotate(-30deg);
}

/* soldier */

.caption {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.5s;
}
.caption:hover {
  opacity: 1;
}

/* SlideX */
.caption-slidex {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  background: rgba(0, 0, 0, 0.5);

  transition: all 0.5s;
  transform: translateX(-100%);
}
.image-container:hover .caption-slidex {
  transform: translateX(0);
  background: rgba(0, 0, 0, 0.5);
}

/* .caption-solid-slide */
.image-container-slide {
  width: 50%;
  height: 100%;
  object-fit: cover;
  position: relative;
  overflow: hidden;
}

.image-container-slide .image-soldier {
  width: 100%;
  transition: all 0.5s;
}

.image-container-slide:hover .image-soldier {
  transform: translateX(100%);
}
.caption-solid-slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  background: rgba(0, 0, 0, 1);

  transition: all 0.5s;
  transform: translateX(-100%);
}
.image-container-slide:hover .caption-solid-slide {
  transform: translateX(0);
  background: rgba(0, 0, 0, 1);
}

/* .caption-solid-slidey */
.image-container-slidey {
  width: 50%;
  height: 100%;
  object-fit: cover;
  position: relative;
  overflow: hidden;
}

.image-container-slidey .image-soldier {
  width: 100%;
  transition: all 0.5s;
}

.image-container-slidey:hover .image-soldier {
  transform: translateY(-30%);
}
.caption-slidey {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  background: rgba(0, 0, 0, 1);

  transition: all 0.5s;
  transform: translateY(100%);
}
.image-container-slidey:hover .caption-slidey {
  transform: translateY(0);
  background: rgba(0, 0, 0, 1);
}

/* Smoke Text */
.smokey-text {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.smokey-text li a {
  color: #000;
  font-size: 8rem;
  font-weight: 900;
}
.smokey-text li {
  transition: all 1.5s;
}

.smokey-text:hover li {
  transform: rotate(45deg) translateY(-200%);
  opacity: 0;
  filter: blur(2rem);
}

.smokey-text li:nth-child(1) {
  transition-delay: 0.15s;
}
.smokey-text li:nth-child(2) {
  transition-delay: 0.3s;
}
.smokey-text li:nth-child(3) {
  transition-delay: 0.45s;
}
.smokey-text li:nth-child(4) {
  transition-delay: 0.6s;
}
.smokey-text li:nth-child(5) {
  transition-delay: 0.75s;
}

/* Clipping heading */

.clip-heading {
  font-size: 15rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  position: relative;
  letter-spacing: 5rem;
  text-transform: uppercase;
}

.clip-heading:before {
  content: 'Text';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  overflow: hidden;

  color: rgb(233, 30, 64);
  transition: all 0.5s;
}
.clip-heading:hover:before {
  width: 100%;
}
